# contains envuronment variables for backend service
# copy this file to .env and fill in the values
# ONLY USED FOR DEVELOPMENT PURPOSES. This is not used in production deployment

GRAPH_URL=http://somehot.com
GRAPH_API_KEY=dummy-key
JWT_SECRET_KEY=secret_jwt_HMAC_key